/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
    background-image: url(../src/Assets/Images/light-patten.svg);
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black !important;
    text-decoration: none !important;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.border-main{
    border: #0aad0a 3px solid;
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.border-main{
    border: solid 2px #0aad0a;
}
.network{
    padding: 20px;
    background-color: #f4fffb;
    position: fixed;
    top: 30px;
    left: 45%;
    z-index: 99999;
    box-shadow: var(--shadow);
    border-radius: 20px;
}
i{
    cursor: pointer;
}
.smallFont{
font-size: 13px;
}

.greenShadow {
    box-shadow: 5px 5px 10px 0px #0aad0a82; /* Adjust the values based on your design preferences */
  }